<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOROVA CLUB</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

   <!--favicon-img--> 
   <link rel="icon" type="image/png" href="images/favicon.jpg">
   <!--favicon-img-->

    <link rel="stylesheet" href="css/index.css">
   

</head>
<body>
    <!-- MAIN CONTENT -->
  
    <main id="about-one">

        
         <!-- CUSTOM CURSOR -->
         <div class="cursor scale"></div>
         <div class="cursor-two scale"></div>
         <!-- CUSTOM CURSOR -->


        <div id="preloader">
            <div class="p">
                <img src="images/headphone.png" alt="headphone">
            </div>
            <div class="p">Utilice auriculares para una mejor experiencia.</div>
        </div>

        <div id="about-one-content">
                
            <!-- NAVIGATION -->
            <div class="navigation">
                <div class="logo hover ">
                   <a href="index-two.html" class="text">KOROVA CLUB</a>
                </div>
                <div class="menu-bar hover ">
                    <div class="menu-bar-name text">
                        Menu
                    </div>
                    <div class="menu-bar-lines text">
                        <div class="menu-bar-line"></div>
                        <div class="menu-bar-line"></div>
                    </div>
                </div>
            </div>
            <!-- NAVIGATION -->


<!-- progress-bar -->
<div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
</div>
<!-- progress-bar -->


  
<div class="scrolling-part">
      
</div>
         
          
<div class="heading">
    <span class="text">
      NOSOTROS  
    </span> 
 </div>    


<div class="center">
  <!-- ABOUT IMG -->
  <div class="about-img img">
    <img class="img-parallax" src="images/bar.jpg" alt="about-img">
  </div>
  <!-- ABOUT IMG -->
</div>
<div class="center">
  <div class="about-text">
    <div class="about-text-heading  text-scroll">
     KOROVA <span class="red"> CLUB</span>
    </div>
    <div class="about-text-content  text-scroll">
      Korova Club es un refugio subterráneo para los amantes de la música electrónica, donde el ritmo late en cada pulso de luz y cada reverberación del bajo. Al entrar, te sumerges en un mundo paralelo donde el tiempo se diluye y los sonidos te envuelven como una manta cálida. <BR></BR>

      El club está impregnado de una atmósfera íntima y clandestina, donde los muros oscuros y las luces tenues crean un ambiente perfecto para perderse en la música. Los murmullos de la multitud se mezclan con los ritmos enérgicos que brotan de los altavoces, creando una sinfonía de emociones y energía. <br>
      
      El sonido envolvente te abraza desde todos los ángulos, sumergiéndote en capas de melodías y texturas sonoras. Cada nota, cada eco, te transporta a un estado de trance donde la realidad se desvanece y solo queda el pulso constante de la música. <br>
       
      Kasa Korova es conocida como la casa del techno, un santuario donde los ritmos pulsantes y las líneas de bajo retumbantes reinan supremas. Los DJ y artistas que pisan su escenario son maestros en el arte de llevar a la audiencia a un viaje sonoro, guiándolos a través de paisajes sonoros futuristas y emocionantes. <br>
    </div>
    
   </div>
</div>

<div class="signature">
   <span class="text-scroll"> KLUB.</span> 
</div>



             
 <!-- HEADPHONE IMG -->
 <div class="headphone img text">
  <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
</div>
 <!-- HEADPHONE IMG -->

 
        </div>
    </div>



    <!-- NAVIGATION CONTENT -->

    <div class="navigation-content">
      <div class="navigation-logo hover opacity">
        <a href="#" class="text">KOROVA CLUB</a>
       </div>
      <ul class="navigation-ul">
        <li><a href="index-one.html" data-text="Inicio" data-img="images/LOGOROJO.png">Inicio</a></li>
        <li><a href="about-one.html"  data-text="Nosotros"  data-img="images/LOGOROJO.png">Nosotros</a></li>
        <li><a href="songs-one.html" data-text="Canciones"  data-img="images/LOGOROJO.png">Canciones</a></li>
        <li><a href="blog-one.html"  data-text="Eventos" data-img="images/LOGOROJO.png">Eventos</a></li>
        <li><a href="contact-one.html"  data-text="Contacto" data-img="images/LOGOROJO.png">Contacto</a></li>
      </ul>
      <div class="navigation-close hover about-close opacity">
          <div class="navigation-close-line"></div>
          <div class="navigation-close-line"></div>
        </div>
  
          <div class="project-preview"></div>
  
          
   <!-- HEADPHONE IMG -->
   <div class="headphone-navigation opacity">
      <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
    </div>
     <!-- HEADPHONE IMG -->
  
  
      <!-- SOCIAL MEDIA LINKS -->
      <div class="social-media-links-navigation">
          <ul>
            <li ><a href="https://www.youtube.com/@KasaKorovaClub"  class="text hover opacity">YT</a></li>
            <li ><a href="https://www.facebook.com/profile.php?id=100086087001243&mibextid=ZbWKwL"  class="text hover opacity">FB</a></li>
            <li ><a href="https://www.instagram.com/korova.club/"  class="text hover opacity">IG</a></li>
          </ul>
      </div>
        <!-- SOCIAL MEDIA LINKS -->
  
  </div>
  
  <!-- NAVIGATION CONTENT -->




    </main>
    <!-- MAIN CONTENT -->

<script src="js/jquery.min.js"></script>
<script src="js/bez.js"></script>
<script src="js/pace.js"></script>
<script src="js/index.js"></script>
</body>
</html>