<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EVENTOS</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    
       <!--favicon-img--> 
       <link rel="icon" type="image/png" href="images/favicon.jpg">
       <!--favicon-img-->
    
        <link rel="stylesheet" href="css/index.css">
       
    
    </head>
<body>


    <!-- MAIN CONTENT -->
    <main id="blog-one">

        <!-- CUSTOM CURSOR -->
        <div class="cursor scale"></div>
        <div class="cursor-two scale"></div>
        <!-- CUSTOM CURSOR -->


        <!-- PRELOADER -->
        <div id="preloader">
            <div class="p">
                <img src="images/headphone.png" alt="headphone">
            </div>
            <div class="p">Utilice auriculares para una mejor experiencia.</div>
        </div>
        <!-- PRELOADER -->



        <div id="blog-one-content">

            <!-- HEADING -->

            <div class="heading">
               <span class="text"> 
                EVENTOS
               </span> 
            </div>

            <!-- HEADING -->


            <!-- NAVIGATION -->
            <div class="navigation">
                <div class="logo hover ">
                   <a href="index-two.html" class="text">KOROVA CLUB</a>
                </div>
                <div class="menu-bar hover ">
                    <div class="menu-bar-name text">
                        Menu
                    </div>
                    <div class="menu-bar-lines text">
                        <div class="menu-bar-line"></div>
                        <div class="menu-bar-line"></div>
                    </div>
                </div>
            </div>
            <!-- NAVIGATION -->


<div class="center">

<!-- BLOG-CONTAINER -->

<div id="blogs-container">


    <!-- BLOG -->
    <div class="blog fade-up">
            <div class="blog-img">
                <img src="images/LU10.0.jpg" alt="blog-img">
            </div>
            <div class="blog-text">
                <div class="blog-heading">FULL PROGRAM</div>
                <div class="blog-description">Programación de Octubre en KOROVA Club: ¡No te lo pierdas!
                    Octubre se presenta como un mes lleno de energía y emoción en KOROVA Club. Este mes queremos invitar a nuestros clientes a vivir una experiencia única con una programación que combina lo mejor de los artistas locales e internacionales. Ven a disfrutar de noches inolvidables, donde la música y el ambiente se fusionan para brindarte momentos espectaculares. <br>

                    Artistas Locales: Talento que Brilla <br>

                    En KOROVA Club, somos grandes defensores del talento local. En nuestra programación de octubre, te traemos una selección de artistas emergentes, cada uno con su estilo único, que prometen hacer vibrar el escenario. Desde DJs que marcan tendencia hasta bandas en vivo que te harán moverte al ritmo de sus melodías, esta es una oportunidad perfecta para apoyar a nuestros músicos locales. Algunos de los artistas que nos acompañarán son:
                    Artistas Internacionales: Estrellas que Traspasan Fronteras <br>

                    Además del talento local, septiembre en KOROVA Club también contará con una selección increíble de artistas internacionales. Estos músicos traen consigo no solo melodías cautivadoras, sino también una esencia cultural que enriquecerá nuestras noches.
                    Invita a tus Amigos y Vive la Experiencia <br>

                    Queremos que tú y tus amigos se sumerjan en esta programación excepcional. No pierdas la oportunidad de vivir momentos inolvidables. <br></div>
                <div class="blog-info">
                    <div class="blog-duration"><img src="images/clock.png" alt="clock">&nbsp; Open Doors 21:00 </div>
                    <div class="blog-type">The House Of Techno</div>
                    <!--
                    <a href="blog-single.html" title="Read More">
                        <div class="blog-read-more">
                           <i class="gg-arrow-right"></i>
                        </div>
                        </a>
                        -->
                </div>
            </div>
        <div class="blog-date">Octubre, 2024</div>
    </div>
    <!-- BLOG -->


    <!-- BLOG -->
       <div class="blog fade-up">
        <div class="blog-img">
            <img src="images/LU10.1.jpg" alt="blog-img">
        </div>
        <div class="blog-text">
            <div class="blog-heading">PROGRAMACION 03 - 05 OCTUBRE</div>
            <div class="blog-description">JUEVES 03: <br> Casino + Audiciones. <br>
            VIERNES 04: <br> Minimal / House. <br>
            SÁBADO: 05: <br> Techno.
        </div>
            <div class="blog-info">
                <div class="blog-duration"><img src="images/clock.png" alt="clock">&nbsp; Open Doors 21:00 </div>
                <div class="blog-type">The House Of Techno</div>

            </div>
        </div>
        <div class="blog-date">03 - 05 Octubre</div>
    </div>
    <!-- BLOG -->

    <!-- BLOG -->
       <div class="blog fade-up">
        <div class="blog-img">
            <img src="images/LU10.2.jpg" alt="blog-img">
        </div>
        <div class="blog-text">
            <div class="blog-heading">PROGRAMACION 10 - 12 OCTUBRE</div>
            <div class="blog-description">JUEVES 10: <br> Casino + Audiciones. <br>
                VIERNES 11: <br> trance / techno. <br>
                SÁBADO: 12: <br> Techno Hipnótico.</div>
            <div class="blog-info">
                <div class="blog-duration"><img src="images/clock.png" alt="clock">&nbsp; Open Doors 21:00 </div>
                <div class="blog-type">The House Of Techno</div>               

            </div>
        </div>
        <div class="blog-date">10 - 12 Octubre</div>
    </div>
    <!-- BLOG -->
    
    <!-- BLOG -->
       <div class="blog fade-up">
        <div class="blog-img">
            <img src="images/LU10.3.jpg" alt="blog-img">
        </div>
        <div class="blog-text">
            <div class="blog-heading">PROGRAMACION 17 - 19 OCTUBRE</div>
            <div class="blog-description">JUEVES 17: <br> RETRO + Casino. <br>
                VIERNES 11: <br> Technoproject / Techno / Ludovico. <br>
                SÁBADO: 12: <br> Abundance / Ludovico. </div>
            <div class="blog-info">
                <div class="blog-duration"><img src="images/clock.png" alt="clock">&nbsp; Open Doors 21:00 </div>
                <div class="blog-type">The House Of Techno</div>               

            </div>
        </div>

        <div class="blog-date">17 - 19 Octubre</div>
    </div>
    <!-- BLOG -->

    <!-- BLOG -->
       <div class="blog fade-up">
        <div class="blog-img">
            <img src="images/LU10.4.jpg" alt="blog-img">
        </div>
        <div class="blog-text">
            <div class="blog-heading">PROGRAMACION 24 - 31 OCTUBRE</div>
            <div class="blog-description">JUEVES 24: <br> Audiciones + Casino. <br>
                VIERNES 25: <br> AM GROUP / Techno / Ludovico. <br>
                SÁBADO: 26: <br> Abyssal / Ludovico.</div>
            <div class="blog-info">
                <div class="blog-duration"><img src="images/clock.png" alt="clock">&nbsp; Open Doors 21:00 </div>
                <div class="blog-type">The House Of Techno</div>
                
            </div>
        </div>

        <div class="blog-date">24 - 31 Octubre</div>
    </div>
    <!-- BLOG -->

</div>

<!-- BLOG-CONTAINER-->

</div>

   <!-- HEADPHONE IMG -->
    <div class="headphone img text">
     <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
    </div>
   <!-- HEADPHONE IMG -->
  
   <!-- progress-bar -->
   <div class="progress-bar-container fade-in">
    <div class="progressbar"></div>
   </div>
<!-- progress-bar -->
        </div>



    <!-- NAVIGATION CONTENT -->

    <div class="navigation-content">
        <div class="navigation-logo hover opacity">
            <a href="#" class="text">KOROVA CLUB</a>
         </div>
        <ul class="navigation-ul">
            <li><a href="index-one.html" data-text="Inicio" data-img="images/LOGOROJO.png">Inicio</a></li>
            <li><a href="about-one.html"  data-text="Nosotros"  data-img="images/LOGOROJO.png">Nosotros</a></li>
            <li><a href="songs-one.html" data-text="Canciones"  data-img="images/LOGOROJO.png">Canciones</a></li>
            <li><a href="blog-one.html"  data-text="Eventos" data-img="images/LOGOROJO.png">Eventos</a></li>
            <li><a href="contact-one.html"  data-text="Contacto" data-img="images/LOGOROJO.png">Contacto</a></li>
        </ul>
        <div class="navigation-close hover about-close opacity">
            <div class="navigation-close-line"></div>
            <div class="navigation-close-line"></div>
          </div>
    
            <div class="project-preview"></div>
    
            
     <!-- HEADPHONE IMG -->
     <div class="headphone-navigation opacity">
        <img src="images/headphone.png" title="headphone zone" class="text" alt="headphone">
      </div>
       <!-- HEADPHONE IMG -->
    
    
        <!-- SOCIAL MEDIA LINKS -->
        <div class="social-media-links-navigation">
            <ul>
                <li ><a href="https://www.youtube.com/@KasaKorovaClub"  class="text hover opacity">YT</a></li>
                <li ><a href="https://www.facebook.com/profile.php?id=100086087001243&mibextid=ZbWKwL"  class="text hover opacity">FB</a></li>
                <li ><a href="https://www.instagram.com/korova.club/"  class="text hover opacity">IG</a></li>
            </ul>
        </div>
          <!-- SOCIAL MEDIA LINKS -->
    
    </div>
    
    <!-- NAVIGATION CONTENT -->




        
    </main>
    <!-- MAIN CONTENT -->

<script src="js/jquery.min.js"></script>
<script src="js/bez.js"></script>
<script src="js/pace.js"></script>
<script src="js/index.js"></script>
</body>
</html>